
# PlanAhead Generated IO constraints 

NET "LCD_DB[7]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[6]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[5]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[4]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[3]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[2]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[1]" IOSTANDARD = LVCMOS33;
NET "LCD_DB[0]" IOSTANDARD = LVCMOS33;
NET "LEDS[7]" IOSTANDARD = LVCMOS33;
NET "LEDS[6]" IOSTANDARD = LVCMOS33;
NET "LEDS[5]" IOSTANDARD = LVCMOS33;
NET "LEDS[4]" IOSTANDARD = LVCMOS33;
NET "LEDS[3]" IOSTANDARD = LVCMOS33;
NET "LEDS[2]" IOSTANDARD = LVCMOS33;
NET "LEDS[1]" IOSTANDARD = LVCMOS33;
NET "LEDS[0]" IOSTANDARD = LVCMOS33;
NET "KBE" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "OE" IOSTANDARD = LVCMOS33;
NET "ps2d" IOSTANDARD = LVCMOS33;
NET "ps2c" IOSTANDARD = LVCMOS33;
NET "RS" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVCMOS33;
NET "RW" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "LEDS[7]" LOC = W21;
NET "LEDS[6]" LOC = Y22;
NET "LEDS[5]" LOC = V20;
NET "LEDS[4]" LOC = V19;
NET "LEDS[3]" LOC = U19;
NET "LEDS[2]" LOC = U20;
NET "LEDS[1]" LOC = T19;
NET "LEDS[0]" LOC = R20;
NET "LCD_DB[7]" LOC = Y15;
NET "LCD_DB[6]" LOC = AB16;
NET "LCD_DB[5]" LOC = Y16;
NET "LCD_DB[4]" LOC = AA12;
NET "LCD_DB[3]" LOC = AB12;
NET "LCD_DB[2]" LOC = AB17;
NET "LCD_DB[0]" LOC = Y13;
NET "CLK" LOC = E12;
NET "rst" LOC = U15;
NET "LCD_DB[1]" LOC = AB18;
NET "RW" LOC = W13;
NET "RS" LOC = Y14;
NET "ps2d" LOC = V11;
NET "ps2c" LOC = W12;
NET "OE" LOC = AB4;
 
